In [1]:
import pandas as pd
data = pd.read_csv("TMDB_movie_dataset_v11.csv")
data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [2]:
data.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.338165e+06,1.338165e+06,1.338165e+06,1.338165e+06,1.338165e+06,1.338165e+06,1.338165e+06
mean,8.542149e+05,1.634372e+00,1.603327e+01,6.348789e+05,4.495636e+01,2.452982e+05,1.071566e+00
std,4.543083e+05,2.901830e+00,2.936260e+02,1.872763e+07,6.095650e+01,5.154494e+06,7.004499e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,4.710890e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,8.692520e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.700000e+01,0.000000e+00,6.000000e-01
75%,1.255363e+06,3.000000e+00,1.000000e+00,0.000000e+00,8.600000e+01,0.000000e+00,7.890000e-01
max,1.599061e+06,1.000000e+01,3.449500e+04,5.000000e+09,1.440000e+04,1.000000e+09,2.994357e+03

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338165 entries, 0 to 1338164
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1338165 non-null  int64
 1   title                 1338148 non-null  object
 2   vote_average          1338165 non-null  float64
 3   vote_count            1338165 non-null  int64
 4   status                1338165 non-null  object
 5   release_date          1062752 non-null  object
 6   revenue               1338165 non-null  int64
 7   runtime               1338165 non-null  int64
 8   adult                 1338165 non-null  bool
 9   backdrop_path         338720 non-null   object
 10  budget                1338165 non-null  int64
 11  homepage              138693 non-null   object
 12  imdb_id               649718 non-null   object
 13  original_language     1338165 non-null  object
 14  original_title        1338148 non-null  object
 15  overview              1037979 non-null  object
 16  popularity            1338165 non-null  float64
 17  poster_path           878169 non-null   object
 18  tagline               186272 non-null   object
 19  genres                763014 non-null   object
 20  production_companies  579195 non-null   object
 21  production_countries  704924 non-null   object
 22  spoken_languages      729575 non-null   object
 23  keywords              338439 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 236.1+ MB